<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="IdentityFrameworkTestSuite" object-factory="org.powermock.modules.testng.PowerMockObjectFactory">
    <test name="x509AuthenticatorTestsWithDebugEnabled" preserve-order="false" parallel="false">
        <classes>
            <class name="org.wso2.support.sample.x509authenticator.X509CertificateAuthenticatorTest"/>
            <class name="org.wso2.support.sample.x509authenticator.X509CertificateUtilTest"/>
        </classes>
    </test>
</suite>
